{% extends "layout.html" %}

{% block pageTitle %}
{{ components.govuk.component[0].name }}
 - {{ components.govuk.heading }}
 - {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <header class="hmrc-page-heading">
      <h1 class="govuk-heading-xl">{{ components.govuk.component[0].name }}</h1>
      <p class="govuk-caption-xl hmrc-caption-xl"><span class="govuk-visually-hidden">This section is </span>{{ components.govuk.heading }}</p>
    </header>
  </div>
</div>

<div class="govuk-grid-row main-section">
  {% include "includes/skip-links.html" %}

  <div class="govuk-grid-column-one-third">
    <nav aria-label="In-page">
      <h2 class="govuk-heading-m">In-page navigation</h2>
      <h3 class="govuk-heading-s" id="in-page-navigation__components">Components</h3>
      <ol class="govuk-list" role="list" aria-describedby="in-page-navigation__components">
        <li><a class="govuk-link" href="#component-1">{{ components.govuk.component[0].example[0].heading }}</a></li>
        <li><a class="govuk-link" href="#component-2">{{ components.govuk.component[0].example[1].heading }}</a></li>
      </ol>
      <h3 class="govuk-heading-s" id="in-page-navigation__cypress">Cypress tests</h3>
      <ol class="govuk-list" role="list" aria-describedby="in-page-navigation__cypress">
        <li><a class="govuk-link" href="#cypress-1">{{components.cypress.env[0].heading}}</a></li>
        <li><a class="govuk-link" href="#cypress-2">{{components.cypress.env[1].heading}}</a></li>
        <li><a class="govuk-link" href="#cypress-3">{{components.cypress.env[2].heading}}</a></li>
      </ol>
    </nav>
    {% include "includes/nav-govuk.html" %}
  </div>

  <div id="component-section" class="govuk-grid-column-two-thirds">
    <p class="govuk-body">{{ components.govuk.component[0].body }}</p>

    <div class="component-section" id="component-1">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[0].example[0].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[0].example[0].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[0].example[0].heading }}">
        {{ govukAccordion({
          id: "accordion-default",
          items: [
            {
              heading: {
                text: "Writing well for the web"
              },
              content: {
                html: "<p class='govuk-body'>This is the content for Writing well for the web.</p>"
              }
            },
            {
              heading: {
                text: "Writing well for specialists"
              },
              content: {
                html: "<p class='govuk-body'>This is the content for Writing well for specialists.</p>"
              }
            },
              {
              heading: {
                text: "Know your audience"
              },
              content: {
                html: "<p class='govuk-body'>This is the content for Know your audience.</p>"
              }
            },
              {
              heading: {
                text: "How people read"
              },
              content: {
                html: "<p class='govuk-body'>This is the content for How people read.</p>"
              }
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
          summaryText: "What we are testing in this component",
          html: "<ul class='govuk-list govuk-list--bullet'>
            <li>Make sure “Open all”/“Close all” does its job and screenshot the result.</li>
            <li>The focus colours must be the updated version.</li>
          </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-2">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[0].example[1].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[0].example[1].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[0].example[1].heading }}">
        {{ govukAccordion({
          id: "accordion-with-summary-sections",
          items: [
            {
              heading: {
                text: "Understanding agile project management"
              },
              summary: {
                text: "Introductions, methods, core features."
              },
              content: {
                html:
                '<ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="#">Agile and government services: an introduction</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Agile methods: an introduction</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Core principles of agile</a>
                    </li>
                </ul>'
              }
            },
                {
              heading: {
                text: "Working with agile methods"
              },
              summary: {
                text: "Workspaces, tools and techniques, user stories, planning."
              },
              content: {
                html:
                '<ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="#">Creating an agile working environment</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Agile tools and techniques</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Set up a team wall</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Writing user stories</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Planning in agile</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Deciding on priorities</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Developing a roadmap</a>
                    </li>
                </ul>'
              }
            },
                    {
              heading: {
                text: "Governing agile services"
              },
              summary: {
                text: "Principles, measuring progress, spending money."
              },
              content: {
                html:
                '<ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="#">Governance principles for agile service delivery</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Measuring and reporting progress</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Spend controls: check if you need approval to spend money on a service</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Spend controls: apply for approval to spend money on a service</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Spend controls: the new pipeline process</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Working across organisational boundaries</a>
                    </li>
                </ul>'
              }
            },
                        {
              heading: {
                text: "Phases of an agile project"
              },
              summary: {
                text: "Discovery, alpha, beta, live and retirement."
              },
              content: {
                html:
                '<ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="#">How the discovery phase works</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">How the alpha phase works</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">How the beta phase works</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">How the live phase works</a>
                    </li>
                    <li>
                      <a class="govuk-link" href="#">Retiring your service</a>
                    </li>
                </ul>'
              }
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
          summaryText: "What we are testing in this component",
          html: "<ul class='govuk-list govuk-list--bullet'>
            <li>Make sure “Open all”/“Close all” does its job and screenshot the result.</li>
            <li>The hint text must be associated correctly with the buttons.</li>
            <li>The focus colours must be the updated version.</li>
          </ul>"
        }) }}
      </footer>
    </div>

  </div>

  <div id="cypress-section" class="govuk-grid-column-two-thirds cypress-section">
    <h2 class="govuk-heading-l">Cypress tests</h2>
    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-1">{{components.cypress.env[0].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-2">{{components.cypress.env[1].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-3">{{components.cypress.env[2].heading}}</h3>
    </div>
  </div>

</div>

{% endblock %}
