{% extends "layout_example.html" %}
{% from "hmrc/components/banner/macro.njk" import hmrcBanner %}

{% set component = components.hmrc.component[8] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
{{ appPageTitle({
  componentHeading: componentHeading,
  sectionHeading: sectionHeading
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="fixture-example govuk-grid-column-two-thirds">
    {{ hmrcBanner({

    }) }}
  </div>
</div>
{% endblock %}
