{% extends "layout_example.html" %}

{% set component = components.hmrc.component[13] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
  {{ appPageTitle({
    componentHeading: componentHeading,
    sectionHeading: sectionHeading
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="fixture-example govuk-grid-column-two-thirds">
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "#1",
            text: "Item 1"
          },
          {
            href: "#2",
            text: "Item 2"
          },
          {
            href: "#3",
            text: "Item 3"
          }
        ]
      }
    }) }}
  </div>
</div>
{% endblock %}
