{% extends "layout_example.html" %}

{% set component = components.hmrc.component[10] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
{{ appPageTitle({
  componentHeading: componentHeading,
  sectionHeading: sectionHeading
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="fixture-example govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">The details you entered did not match our records</h1>
    <p class="govuk-body">We could not match the details you entered with records held by HMRC.</p>
    <p class="govuk-body">If you used the wrong details, you can <a class="govuk-link" href="#">try again using different
        details</a>.</p>
  </div>
</div>
{% endblock %}
