<footer class="component-section__footer">
  <details {%- if params.id %} id="{{params.id}}"{% endif %} class="govuk-details {%- if params.classes %} {{ params.classes }}{% endif %}" data-module="govuk-details" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %} {{- " open" if params.open }}>
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What we are testing in this component
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
      {% for item in params.testing %}
        {% set tagWcag = item.tags.wcag %}
        {% set tagBest = item.tags.best %}
        <li>
          <p>{{ item.reason | safe }}</p>
          <div class="wcag-tags">
            {% if tagWcag|length %}
              {% for tag in tagWcag %}
                {{ appTagify({ tag: tag | tagify }) }}
              {% endfor %}
            {% endif %}
            {% if tagBest|length %}
              {% for tag in tagBest %}
                {{ appTagify({ tag: tag | tagify }) }}
              {% endfor %}
            {% endif %}
          </div>
        </li>
      {% else %}
        <li>Data error</li>
      {% endfor %}
      </ul>
    </div>
  </details>
</footer>
