{% extends "layout_example.html" %}

{% set component = components.hmrc.component[14] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
  {{ appPageTitle({
    componentHeading: componentHeading,
    sectionHeading: sectionHeading
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukHeader({
      homepageUrl: "#"
    }) }}
  </div>
</div>
{% endblock %}
