{% extends "layout_example.html" %}

{% set component = components.hmrc.component[14] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
  {{ appPageTitle({
    componentHeading: componentHeading,
    sectionHeading: sectionHeading
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="fixture-example govuk-grid-column-two-thirds">
    {{ govukHeader({
      homepageUrl: "#",
      serviceName: "Service name",
      serviceUrl: "#",
      navigation: [
        {
          href: "#1",
          text: "Navigation item 1",
          active: true
        },
        {
          href: "#2",
          text: "Navigation item 2"
        },
        {
          href: "#3",
          text: "Navigation item 3"
        },
        {
          href: "#4",
          text: "Navigation item 4"
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}
