{#
    {{ appFigure({
      src: "/public/images/hmrc/currency-input/desktop.js/homepage--desktop--currency-input--label.png",
      alt: "Screenshot of the focus state of the currency input component.",
      figcaption: "Focus state of the currency input component, triggered by clicking the label to check it is associated with the input
      field."
    })}} #}

<figure class="hmrc-figure">
  <img class="hmrc-figure__image" src="{{src}}" alt="{{alt}}" />
  <figcaption class="hmrc-figure__caption">{{figcaption}}</figcaption>
</figure>
