{% extends "layout_example.html" %}

{% set component = components.hmrc.component[7] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
  {{ appPageTitle({
    componentHeading: componentHeading,
    sectionHeading: sectionHeading
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukDateInput({
      id: "passport-issued",
      namePrefix: "passport-issued",
      fieldset: {
        legend: {
          text: "When was your passport issued?"
        }
      },
      hint: {
        text: "For example, 12 11 2007"
      }
    }) }}
  </div>
</div>
{% endblock %}
