{% extends "layout.html" %}
{% from "hmrc/components/page-heading/macro.njk" import hmrcPageHeading %}

{% set component = components.tests.component[0] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.tests.heading %}

{% block pageTitle %}
  {{ appPageTitle({
    componentHeading: componentHeading,
    sectionHeading: sectionHeading
  }) }}
{% endblock %}

{% block content %}

{{ appPageHeader() }}

<div class="govuk-grid-row main-section">
  {% include "includes/skip-links.html" %}

  <div class="govuk-grid-column-one-third">
    {{ appInpageNavigation() }}
    {% include "includes/nav-tests.html" %}
  </div>

  <div id="component-section" class="govuk-grid-column-two-thirds">
    <p class="govuk-body">{{ component.body }}</p>

    {% call appComponentSection({
      componentIndex: 1,
      heading: component.example[0].heading,
      body: component.example[0].body,
      testing: component.example[0].testing
    }) -%}
      {{ appExampleFrame({
        dept: component.dept,
        example: 1,
        slug: component.slug,
        title: component.name
      }) }}
    {%-endcall %}

</div>

{% endblock %}
