@media screen and (min-width: 40.0625em) {
  .main-section {
    img {
      display: block;
      max-width: 100%;
    }

    .govuk-grid-column-two-thirds {
      float: right;
    }

    .govuk-grid-column-one-third {
      float: left;
    }
  }
}

code {
  font-size: 16px;
  font-size: 1rem;
}

.govuk-list .govuk-link.is-active {
  background-color: #fff;
  border-left: 4px solid $govuk-link-colour;
  font-weight: 700;
  margin-left: -10px;
  padding-left: 10px;
}

.cypress-example {
  background-color: #fff;
  padding: 1rem;
}
