{% extends "layout.html" %}

{% set component = components.govuk.component[23] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
{{ appPageTitle({
  componentHeading: componentHeading,
  sectionHeading: sectionHeading
}) }}
{% endblock %}

{% block content %}

{{ appPageHeader() }}

<div class="govuk-grid-row main-section">
  {% include "includes/skip-links.html" %}

  <div class="govuk-grid-column-one-third">
    {{ appInpageNavigation() }}
    {% include "includes/nav-govuk.html" %}
  </div>

  <div id="component-section" class="govuk-grid-column-two-thirds">
    <p class="govuk-body">{{ component.body }}</p>

    {% call appComponentSection({
      componentIndex: 1,
      heading: component.example[0].heading,
      body: component.example[0].body,
      testing: component.example[0].testing
    }) -%}
      {{ appExampleFrame({
        dept: component.dept,
        example: 1,
        slug: component.slug,
        title: component.name
      }) }}
    {%-endcall %}

    {% call appComponentSection({
      componentIndex: 2,
      heading: component.example[1].heading,
      body: component.example[1].body,
      testing: component.example[1].testing
    }) -%}
      {{ appExampleFrame({
        dept: component.dept,
        example: 2,
        slug: component.slug,
        title: component.name
      }) }}
    {%-endcall %}

    {% call appComponentSection({
      componentIndex: 3,
      heading: component.example[2].heading,
      body: component.example[2].body,
      testing: component.example[2].testing
    }) -%}
      {{ appExampleFrame({
        dept: component.dept,
        example: 3,
        slug: component.slug,
        title: component.name
      }) }}
    {%-endcall %}

    {% call appComponentSection({
      componentIndex: 4,
      heading: component.example[3].heading,
      body: component.example[3].body,
      testing: component.example[3].testing
    }) -%}
      {{ appExampleFrame({
        dept: component.dept,
        example: 4,
        slug: component.slug,
        title: component.name
      }) }}
    {%-endcall %}

    {% call appComponentSection({
      componentIndex: 5,
      heading: component.example[4].heading,
      body: component.example[4].body,
      testing: component.example[4].testing
    }) -%}
      {{ appExampleFrame({
        dept: component.dept,
        example: 5,
        slug: component.slug,
        title: component.name
      }) }}
    {%-endcall %}

  </div>

  <div id="cypress-section" class="govuk-grid-column-two-thirds cypress-section">
    <h2 class="govuk-heading-l">Cypress tests</h2>
    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-1">{{components.cypress.env[0].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-2">{{components.cypress.env[1].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-3">{{components.cypress.env[2].heading}}</h3>
    </div>
  </div>

</div>

{% endblock %}
