{% extends "layout_example.html" %}

{% set component = components.hmrc.component[2] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
  {{ appPageTitle({
    componentHeading: componentHeading,
    sectionHeading: sectionHeading
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "#"
        },
        {
          text: "Passports, travel and living abroad",
          href: "#"
        },
        {
          text: "Travel abroad",
          href: "#"
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}
