{% extends "layout.html" %}
{% from "hmrc/components/page-heading/macro.njk" import hmrcPageHeading %}

{% block pageTitle %}
{{ components.hmrc.component[16].name }} -
{{ components.hmrc.heading }} -
{{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <header class="hmrc-page-heading">
      <h1 class="govuk-heading-xl">
        {{ components.hmrc.component[16].name }}
      </h1>
      <p class="govuk-caption-xl hmrc-caption-xl"><span class="govuk-visually-hidden">This section is </span>{{
        components.hmrc.heading }}</p>
    </header>
  </div>
</div>

<div class="govuk-grid-row main-section">
  {% include "includes/skip-links.html" %}

  <div class="govuk-grid-column-one-third">
    <nav aria-label="In-page">
      <h2 class="govuk-heading-m">In-page navigation</h2>
      <h3 class="govuk-heading-s" id="in-page-navigation__components">Components</h3>
      <ol class="govuk-list" role="list" aria-describedby="in-page-navigation__components">
        <li><a class="govuk-link" href="#component-1">{{ components.hmrc.component[16].example[0].heading }}</a></li>
        <li><a class="govuk-link" href="#component-2">{{ components.hmrc.component[16].example[1].heading }}</a></li>
        <li><a class="govuk-link" href="#component-3">{{ components.hmrc.component[16].example[2].heading }}</a></li>
        <li><a class="govuk-link" href="#component-4">{{ components.hmrc.component[16].example[3].heading }}</a></li>
        <li><a class="govuk-link" href="#component-5">{{ components.hmrc.component[16].example[4].heading }}</a></li>
        <li><a class="govuk-link" href="#component-6">{{ components.hmrc.component[16].example[5].heading }}</a></li>
        <li><a class="govuk-link" href="#component-7">{{ components.hmrc.component[16].example[6].heading }}</a></li>
      </ol>
      <h3 class="govuk-heading-s" id="in-page-navigation__cypress">Cypress tests</h3>
      <ol class="govuk-list" role="list" aria-describedby="in-page-navigation__cypress">
        <li><a class="govuk-link" href="#cypress-1">{{components.cypress.env[0].heading}}</a></li>
        <li><a class="govuk-link" href="#cypress-2">{{components.cypress.env[1].heading}}</a></li>
        <li><a class="govuk-link" href="#cypress-3">{{components.cypress.env[2].heading}}</a></li>
      </ol>
    </nav>
    {% include "includes/nav-hmrc.html" %}
  </div>

  <div id="component-section" class="govuk-grid-column-two-thirds component-section">
    <p class="govuk-body">{{ components.hmrc.component[16].body }}</p>

    <div class="component-section" id="component-1">
      <h2 class="govuk-heading-m">
        {{ components.hmrc.component[16].example[0].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.hmrc.component[16].example[0].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.hmrc.component[16].example[0].heading }}">
        {{ hmrcPageHeading({
          text: 'Sorry, the service is unavailable'
        }) }}

        <p class="govuk-body">You will be able to use the service later.</p>

        <p class="govuk-body">We saved your answers. They will be available for 30 days.</p>

        <p class="govuk-body">
          <a class="govuk-link" href="#">Contact the Tax Credits Helpline</a> if you need to make changes to your claim or speak to someone about your tax credits.
        </p>
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-2">
      <h2 class="govuk-heading-m">
        {{ components.hmrc.component[16].example[1].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.hmrc.component[16].example[1].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.hmrc.component[16].example[1].heading }}">
        {{ hmrcPageHeading({
          text: 'Sorry, the service is unavailable'
        }) }}

        <p class="govuk-body">You will be able to use the service from 9am on Monday 19 November 2018.</p>

        <p class="govuk-body">We have not saved your answers. When the service is available, you will have to start again.</p>

        <p class="govuk-body">
          <a class="govuk-link" href="#">Contact the Tax Credits Helpline</a> if you need to make changes to your claim or speak to someone about your tax credits.
        </p>
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-3">
      <h2 class="govuk-heading-m">
        {{ components.hmrc.component[16].example[2].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.hmrc.component[16].example[2].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.hmrc.component[16].example[2].heading }}">
        {{ hmrcPageHeading({
          text: 'Sorry, the service is unavailable'
        }) }}

        <p class="govuk-body">You will be able to use the service from 9am on Monday 19 November 2018.</p>

        <p class="govuk-body">You can:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="#">change other VAT details</a></li>
          <li><a class="govuk-link" href="#">contact the Tax Credits Helpline</a> if you need to make changes to your claim or speak to someone about your tax credits</li>
        </ul>
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-4">
      <h2 class="govuk-heading-m">
        {{ components.hmrc.component[16].example[3].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.hmrc.component[16].example[3].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.hmrc.component[16].example[3].heading }}">
        {{ hmrcPageHeading({
          text: 'Sorry, the service is unavailable'
        }) }}

        <p class="govuk-body">You cannot use the online service to renew your tax credits.</p>

        <p class="govuk-body">
          <a class="govuk-link" href="#">Contact the Tax Credits Helpline</a> if you need to make changes to your claim or speak to someone about your tax credits.
        </p>

        <p class="govuk-body">
          You can <a class="govuk-link" href="#">use the tax credits service</a> to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>find out more about your payments</li>
          <li>see who is on your claim</li>
          <li>make changes to your claim</li>
          <li>check the status of your renewal</li>
        </ul>
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-5">
      <h2 class="govuk-heading-m">
        {{ components.hmrc.component[16].example[4].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.hmrc.component[16].example[4].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.hmrc.component[16].example[4].heading }}">
        {{ hmrcPageHeading({
          text: 'Sorry, the service is unavailable'
        }) }}

        <p class="govuk-body">You will be able to renew your tax credits from Tuesday 24 April 2018.</p>

        <p class="govuk-body">
          You can <a class="govuk-link" href="#">use the tax credits service</a> to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>find out more about your payments</li>
          <li>see who is on your claim</li>
          <li>make changes to your claim</li>
        </ul>
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-6">
      <h2 class="govuk-heading-m">
        {{ components.hmrc.component[16].example[5].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.hmrc.component[16].example[5].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.hmrc.component[16].example[5].heading }}">
        {{ hmrcPageHeading({
          text: 'Sorry, the service is unavailable'
        }) }}

        <p class="govuk-body">The submit an employment intermediary report service has closed.</p>

        <p class="govuk-body">Contact us if you need to speak to someone about the service and your reports.</p>

        <p class="govuk-body">
          Telephone:
          <br/>
          <strong class="govuk-!-font-weight-bold">0808 157 3900</strong>
        </p>

        <p class="govuk-body">
          Opening times:
          <br/>
          <strong class="govuk-!-font-weight-bold">Monday to Friday: 8:30am to 4:30pm</strong>
        </p>
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-7">
      <h2 class="govuk-heading-m">
        {{ components.hmrc.component[16].example[6].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.hmrc.component[16].example[6].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.hmrc.component[16].example[6].heading }}">
        {{ hmrcPageHeading({
          text: 'Sorry, the service is unavailable'
        }) }}

        <p class="govuk-body">Universal Credit has replaced tax credits.</p>

        <p class="govuk-body">
          <a class="govuk-link" href="#">Contact the Tax Credits Helpline</a> if you need to make changes to your claim or speak to someone about your tax credits.
        </p>

        <p class="govuk-body">
          You can:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="#">find out more about Universal Credit</a></li>
          <li><a class="govuk-link" href="#">apply for Universal Credit</a></li>
          <li><a class="govuk-link" href="#">sign in to your Universal Credit account</a></li>
        </ul>
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

  </div>

  <div id="cypress-section" class="govuk-grid-column-two-thirds cypress-section">
    <h2 class="govuk-heading-l">Cypress tests</h2>
    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-1">{{components.cypress.env[0].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-2">{{components.cypress.env[1].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-3">{{components.cypress.env[2].heading}}</h3>
    </div>
  </div>

</div>

{% endblock %}
