{% extends "layout.html" %}

{% block pageTitle %}
{{ components.govuk.component[6].name }} -
{{ components.govuk.heading }} -
{{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <header class="hmrc-page-heading">
      <h1 class="govuk-heading-xl">
        {{ components.govuk.component[6].name }}
      </h1>
      <p class="govuk-caption-xl hmrc-caption-xl"><span class="govuk-visually-hidden">This section is </span>{{
        components.govuk.heading }}</p>
    </header>
  </div>
</div>

<div class="govuk-grid-row main-section">
  {% include "includes/skip-links.html" %}

  <div class="govuk-grid-column-one-third">
    <nav aria-label="In-page">
      <h2 class="govuk-heading-m">In-page navigation</h2>
      <h3 class="govuk-heading-s" id="in-page-navigation__components">Components</h3>
      <ol class="govuk-list" role="list" aria-describedby="in-page-navigation__components">
        <li><a class="govuk-link" href="#component-1">{{ components.govuk.component[6].example[0].heading }}</a></li>
        <li><a class="govuk-link" href="#component-2">{{ components.govuk.component[6].example[1].heading }}</a></li>
        <li><a class="govuk-link" href="#component-3">{{ components.govuk.component[6].example[2].heading }}</a></li>
        <li><a class="govuk-link" href="#component-4">{{ components.govuk.component[6].example[3].heading }}</a></li>
        <li><a class="govuk-link" href="#component-5">{{ components.govuk.component[6].example[4].heading }}</a></li>
        <li><a class="govuk-link" href="#component-6">{{ components.govuk.component[6].example[5].heading }}</a></li>
        <li><a class="govuk-link" href="#component-7">{{ components.govuk.component[6].example[6].heading }}</a></li>
        <li><a class="govuk-link" href="#component-8">{{ components.govuk.component[6].example[7].heading }}</a></li>
        <li><a class="govuk-link" href="#component-9">{{ components.govuk.component[6].example[8].heading }}</a></li>
        <li><a class="govuk-link" href="#component-10">{{ components.govuk.component[6].example[9].heading }}</a></li>
      </ol>
      <h3 class="govuk-heading-s" id="in-page-navigation__cypress">Cypress tests</h3>
      <ol class="govuk-list" role="list" aria-describedby="in-page-navigation__cypress">
        <li><a class="govuk-link" href="#cypress-1">{{components.cypress.env[0].heading}}</a></li>
        <li><a class="govuk-link" href="#cypress-2">{{components.cypress.env[1].heading}}</a></li>
        <li><a class="govuk-link" href="#cypress-3">{{components.cypress.env[2].heading}}</a></li>
      </ol>
    </nav>
    {% include "includes/nav-govuk.html" %}
  </div>

  <div id="component-section" class="govuk-grid-column-two-thirds">
    <p class="govuk-body">{{ components.govuk.component[6].body }}</p>

    <div class="component-section" id="component-1">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[6].example[0].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[6].example[0].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[6].example[0].heading }}">
        {% set html %}
          <p>We use some essential cookies to make this service work.</p>
          <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
        {% endset %}

        {{ govukCookieBanner({
          ariaLabel: "Cookies on [name of service]",
          messages: [
            {
              headingText: "Cookies on [name of service]",
              html: html,
              actions: [
                {
                  text: "Accept analytics cookies",
                  type: "button",
                  name: "cookies",
                  value: "accept"
                },
                {
                  text: "Reject analytics cookies",
                  type: "button",
                  name: "cookies",
                  value: "reject"
                },
                {
                  text: "View cookies",
                  href: "#"
                }
              ]
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-2">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[6].example[1].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[6].example[1].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[6].example[1].heading }}">
        {% set html %}
          <p>We use some essential cookies to make this service work.</p>
          <p>We’d like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.</p>
        {% endset %}

        <form method="POST">
        {{ govukCookieBanner({
          ariaLabel: "Cookies on [name of service]",
          messages: [
            {
              headingText: "Cookies on [name of service]",
              html: html,
              actions: [
                {
                  text: "Accept additional cookies",
                  type: "submit",
                  name: "cookies",
                  value: "accept"
                },
                {
                  text: "Reject additional cookies",
                  type: "submit",
                  name: "cookies",
                  value: "reject"
                },
                {
                  text: "View cookies",
                  href: "#"
                }
              ]
            }
          ]
        }) }}
        </form>
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-3">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[6].example[2].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[6].example[2].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[6].example[2].heading }}">
        {% set acceptHtml %}
          <p>You’ve accepted additional cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        {% endset %}

        <form method="POST">
          {{ govukCookieBanner({
            ariaLabel: "Cookies on [name of service]",
            messages: [
              {
                html: acceptHtml,
                actions: [
                {
                  text: "Hide this message",
                  href: "#",
                  type: "button"
                }
                ]
              }
            ]
          }) }}
        </form>
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-4">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[6].example[3].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[6].example[3].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[6].example[3].heading }}">
        {% set html %}
          <p>We use some essential cookies to make this service work.</p>
          <p>We’d like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.</p>
        {% endset %}

        {% set acceptHtml %}
          <p>You’ve accepted additional cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        {% endset %}

        {% set rejectedHtml %}
          <p>You’ve rejected additional cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        {% endset %}

        <form method="POST">
        {{ govukCookieBanner({
          ariaLabel: "Cookies on [name of service]",
          messages: [
            {
              headingText: "Cookies on [name of service]",
              html: html,
              actions: [
                {
                  text: "Accept additional cookies",
                  type: "submit",
                  name: "cookies",
                  value: "accept"
                },
                {
                  text: "Reject additional cookies",
                  type: "submit",
                  name: "cookies",
                  value: "reject"
                },
                {
                  text: "View cookies",
                  href: "#"
                }
              ]
            },
            {
              html: acceptHtml,
              actions: [
                {
                  text: "Hide this message",
                  href: "#",
                  type: "button"
                }
              ],
              hidden: true
            },
            {
              html: rejectedHtml,
              actions: [
                {
                  text: "Hide this message",
                  href: "#",
                  type: "button"
                }
              ],
              hidden: true
            }
          ]
        }) }}
        </form>
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-5">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[6].example[4].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[6].example[4].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[6].example[4].heading }}">
        {% set html %}
          <p>We use some essential cookies to make this service work.</p>
          <p>We’d like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.</p>
        {% endset %}

        {% set acceptHtml %}
          <p>You’ve accepted additional cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        {% endset %}

        {% set rejectedHtml %}
          <p>You’ve rejected additional cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        {% endset %}

        <form method="POST">
        {{ govukCookieBanner({
          ariaLabel: "Cookies on [name of service]",
          messages: [
            {
              headingText: "Cookies on [name of service]",
              html: html,
              hidden: true,
              actions: [
                {
                  text: "Accept additional cookies",
                  type: "submit",
                  name: "cookies",
                  value: "accept"
                },
                {
                  text: "Reject additional cookies",
                  type: "submit",
                  name: "cookies",
                  value: "reject"
                },
                {
                  text: "View cookies",
                  href: "#"
                }
              ]
            },
            {
              html: acceptHtml,
              actions: [
                {
                  text: "Hide this message",
                  href: "#",
                  type: "button"
                }
              ]
            },
            {
              html: rejectedHtml,
              actions: [
                {
                  text: "Hide this message",
                  href: "#",
                  type: "button"
                }
              ],
              hidden: true
            }
          ]
        }) }}
        </form>
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-6">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[6].example[5].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[6].example[5].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[6].example[5].heading }}">
        {% set html %}
          <p>We use some essential cookies to make this service work.</p>
          <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
        {% endset %}

        {% set acceptHtml %}
          <p>You’ve accepted analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        {% endset %}

        {% set rejectHtml %}
          <p>You’ve rejected analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        {% endset %}

        {{ govukCookieBanner({
          ariaLabel: "Cookies on [name of service]",
          messages: [
            {
              headingText: "Cookies on [name of service]",
              html: html,
              actions: [
                {
                  text: "Accept analytics cookies",
                  type: "button"
                },
                {
                  text: "Reject analytics cookies",
                  type: "button"
                },
                {
                  text: "View cookies",
                  href: "#"
                }
              ]
            },
            {
              html: acceptHtml,
              role: "alert",
              hidden: true,
              actions: [
                {
                  text: "Hide this message"
                }
              ]
            },
            {
              html: rejectHtml,
              role: "alert",
              hidden: true,
              actions: [
                {
                  text: "Hide this message"
                }
              ]
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-7">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[6].example[6].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[6].example[6].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[6].example[6].heading }}">
        {% set html %}
          <p>We use some essential cookies to make this service work.</p>
          <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
        {% endset %}

        {% set acceptHtml %}
          <p>You’ve accepted analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        {% endset %}

        {% set rejectHtml %}
          <p>You’ve rejected analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        {% endset %}

        {{ govukCookieBanner({
          ariaLabel: "Cookies on [name of service]",
          messages: [
            {
              headingText: "Cookies on [name of service]",
              html: html,
              hidden: true,
              actions: [
                {
                  text: "Accept analytics cookies",
                  type: "button"
                },
                {
                  text: "Reject analytics cookies",
                  type: "button"
                },
                {
                  text: "View cookies",
                  href: "#"
                }
              ]
            },
            {
              html: acceptHtml,
              role: "alert",
              actions: [
                {
                  text: "Hide this message"
                }
              ]
            },
            {
              html: rejectHtml,
              role: "alert",
              hidden: true,
              actions: [
                {
                  text: "Hide this message"
                }
              ]
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-8">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[6].example[7].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[6].example[7].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[6].example[7].heading }}">
        {% set html %}
          <p>We use some essential cookies to make this service work.</p>
          <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
        {% endset %}

        {% set acceptHtml %}
          <p>You’ve accepted analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        {% endset %}

        {% set rejectHtml %}
          <p>You’ve rejected analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
        {% endset %}

        {{ govukCookieBanner({
          ariaLabel: "Cookies on [name of service]",
          messages: [
            {
              headingText: "Cookies on [name of service]",
              html: html,
              hidden: true,
              actions: [
                {
                  text: "Accept analytics cookies",
                  type: "button"
                },
                {
                  text: "Reject analytics cookies",
                  type: "button"
                },
                {
                  text: "View cookies",
                  href: "#"
                }
              ]
            },
            {
              html: acceptHtml,
              role: "alert",
              hidden: true,
              actions: [
                {
                  text: "Hide this message"
                }
              ]
            },
            {
              html: rejectHtml,
              role: "alert",
              actions: [
                {
                  text: "Hide this message"
                }
              ]
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-9">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[6].example[8].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[6].example[8].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[6].example[8].heading }}">
        {% set html %}
          <p>We use some essential cookies to make this service work.</p>
          <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
        {% endset %}

        {{ govukCookieBanner({
          ariaLabel: "Cookies on [name of service]",
          messages: [
            {
              headingText: "Cookies on [name of service]",
              html: html,
              actions: [
                {
                  text: "Accept analytics cookies",
                  type: "button",
                  name: "cookies",
                  value: "accept"
                },
                {
                  text: "Reject analytics cookies",
                  type: "button",
                  name: "cookies",
                  value: "reject"
                },
                {
                  text: "View cookies",
                  href: "#"
                }
              ]
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-10">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[6].example[9].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[6].example[9].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[6].example[9].heading }}">
        {% set html %}
          <p>We use some essential cookies to make this service work.</p>
          <p>We’d like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.</p>
        {% endset %}

        {{ govukCookieBanner({
          ariaLabel: "Cookies on [name of service]",
          messages: [
            {
              headingText: "Cookies on [name of service]",
              html: html,
              actions: [
                {
                  text: "Accept additional cookies",
                  type: "button",
                  name: "cookies",
                  value: "accept"
                },
                {
                  text: "Reject additional cookies",
                  type: "button",
                  name: "cookies",
                  value: "reject"
                },
                {
                  text: "View cookies",
                  href: "#"
                }
              ]
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

  </div>

  <div id="cypress-section" class="govuk-grid-column-two-thirds cypress-section">
    <h2 class="govuk-heading-l">Cypress tests</h2>
    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-1">{{components.cypress.env[0].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-2">{{components.cypress.env[1].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-3">{{components.cypress.env[2].heading}}</h3>
    </div>
  </div>

</div>

{% endblock %}
