{% extends "layout_example.html" %}

{% set component = components.hmrc.component[22] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
  {{ appPageTitle({
    componentHeading: componentHeading,
    sectionHeading: sectionHeading
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="fixture-example govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Bobbi Flekman"
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "September 30 1957"
          }
        },
        {
          key: {
            text: "Contact information"
          },
          value: {
            html: "27 Wrights Lane<br>London<br>W8 5SW"
          }
        },
        {
          key: {
            text: "Contact details"
          },
          value: {
            html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">bobbi.flekman@polymer.org</p>'
          }
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}
