{% extends "layout_example.html" %}

{% set component = components.hmrc.component[20] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
  {{ appPageTitle({
    componentHeading: componentHeading,
    sectionHeading: sectionHeading
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="fixture-example govuk-grid-column-two-thirds">
    {{ govukSelect({
      id: "sort",
      name: "sort",
      label: {
        text: "Sort by"
      },
      items: [
        {
          value: "published",
          text: "Recently published"
        },
        {
          value: "updated",
          text: "Recently updated",
          selected: true
        },
        {
          value: "views",
          text: "Most views"
        },
        {
          value: "comments",
          text: "Most comments"
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}
