{% extends "layout_example.html" %}
{%- from "hmrc/components/timeout-dialog/macro.njk" import hmrcTimeoutDialog -%}

{% set component = components.hmrc.component[15] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
{{ appPageTitle({
  componentHeading: componentHeading,
  sectionHeading: sectionHeading
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ hmrcTimeoutDialog ({
      timeout: 70,
      countdown: 68,
      keepAliveUrl: "?continue=true",
      signOutUrl: "?lang=English",
      keepAliveButtonText: "Continue checking what help you can get with childcare costs",
      signOutButtonText: "Delete your answers",
      language: "en"
    }) }}

  </div>
</div>
{% endblock %}
