{% extends "layout_example.html" %}
{%- from "hmrc/components/timeout-dialog/macro.njk" import hmrcTimeoutDialog -%}

{% set component = components.hmrc.component[15] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
{{ appPageTitle({
  componentHeading: componentHeading,
  sectionHeading: sectionHeading
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="fixture-example govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      For your security, we deleted your answers
    </h1>

    <div class="govuk-form-group">
      <button id="timeout-keep-signin-btn" class="govuk-button govuk-!-margin-bottom-0">
        Start again
      </button>
    </div>

  </div>
</div>
{% endblock %}
