/**
 * Using min-width to set the width of the iFrame, works around an
 * issue in iOS that can prevent the iFrame from sizing correctly.
 **/

iframe {
  min-width: 100%;
  width: 1px;
}

.app-example__frame {
  background: #fff;
  border: 0;
  border-right: 1px solid #b1b4b6;
  display: block;
  max-width: 100%;
  width: 100%;
}

.app-example__frame--resizable {
  min-height: 60px;
  min-width: 230px;
  overflow: auto;
  transform: translateZ( 0 );

  @media (min-width: 48.0625em) {
    resize: both;
  }
}
