{% set exampleURL = "/" + params.dept + "/" + params.slug + "/example/" + params.example %}
{% set iframeID = "iFrameResizer" + params.example %}
<iframe data-module="app-example-frame" id="{{ iframeID }}" class="app-example__frame {% if not params.height %}app-example__frame--resizable{% endif %}" scrolling="no" {% if params.height %}height="{{ params.height}}px"{% endif %} src="{{ exampleURL }}"{% if params.title %} title="{{params.title}} example"{% endif %}></iframe>
