@keyframes target-fade {
  0% { background-color: rgba( 0, 0, 0, 0.1 ); }

  100% { background-color: rgba( 0, 0, 0, 0 ); }
}

@keyframes target-fade {
  0% { background-color: rgba( 0, 0, 0, 0.1 ); }

  100% { background-color: rgba( 0, 0, 0, 0 ); }
}

:target {
  animation: target-fade 3s 1;
  animation: target-fade 3s 1;

  @media screen and (prefers-reduced-motion: reduce) {
    animation: none;
    animation: none;
  }
}

nav {
  a {
    display: block;
    padding: 5px;
  }

  li.active {
    border-left: 3px solid #1d70b8;

    a {
      font-weight: 700;
    }
  }
}
