{% extends "layout_example.html" %}

{% set component = components.hmrc.component[6] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
  {{ appPageTitle({
    componentHeading: componentHeading,
    sectionHeading: sectionHeading
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="fixture-example govuk-grid-column-two-thirds">
    {% set html %}
      <p>We use some essential cookies to make this service work.</p>
      <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
    {% endset %}

    {{ govukCookieBanner({
      ariaLabel: "Cookies on [name of service]",
      messages: [
        {
          headingText: "Cookies on [name of service]",
          html: html,
          actions: [
            {
              text: "Accept analytics cookies",
              type: "button",
              name: "cookies",
              value: "accept"
            },
            {
              text: "Reject analytics cookies",
              type: "button",
              name: "cookies",
              value: "reject"
            },
            {
              text: "View cookies",
              href: "#"
            }
          ]
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}
