{% extends "layout.html" %}

{% set component = components.hmrc.component[14] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
{{ appPageTitle({
  componentHeading: componentHeading,
  sectionHeading: sectionHeading
}) }}
{% endblock %}

{% block content %}

{{ appPageHeader() }}

<div class="govuk-grid-row main-section">
  {% include "includes/skip-links.html" %}

  <div class="govuk-grid-column-one-third">
    {{ appInpageNavigation() }}
    {% include "includes/nav-hmrc.html" %}
  </div>

  <div id="component-section" class="govuk-grid-column-two-thirds">
    <p class="govuk-body">{{ component.body }}</p>

    {% call appComponentSection({
      componentIndex: 1,
      heading: component.example[0].heading,
      body: component.example[0].body,
      testing: component.example[0].testing
    }) -%}
<pre><code class="language-django hljs">
  {&#x25; block page_title &#x25;}
    Do you live in the UK? –
    Your details –
    Manage your tax credits –
    GOV.UK
  {&#x25; endblock &#x25;}
</code></pre>
    {%-endcall %}

    {% call appComponentSection({
      componentIndex: 2,
      heading: component.example[1].heading,
      body: component.example[1].body,
      testing: component.example[1].testing
    }) -%}
<pre><code class="language-html hljs">
  &lt;title&gt;
    Do you live in the UK? –
    Your details –
    Manage your tax credits –
    GOV.UK
  &lt;title&gt;
</code></pre>
    {%-endcall %}

    {% call appComponentSection({
      componentIndex: 3,
      heading: component.example[2].heading,
      body: component.example[2].body,
      testing: component.example[2].testing
    }) -%}
<pre><code class="language-html hljs">
  &lt;title&gt;
    Error: Do you live in the UK? –
    Your details –
    Manage your tax credits –
    GOV.UK
  &lt;title&gt;
</code></pre>
    {%-endcall %}

    {% call appComponentSection({
      componentIndex: 4,
      heading: component.example[3].heading,
      body: component.example[3].body,
      testing: component.example[3].testing
    }) -%}
<pre><code class="language-html hljs">
&lt;title&gt;
  What is their date of birth? –
  Their details –
  Manage your tax credits –
  GOV.UK
&lt;title&gt;
[…]
&lt;h1&gt;
  What is Gordon’s date of birth?
&lt;h1&gt;
</code></pre>
    {%-endcall %}

  </div>

  <div id="cypress-section" class="govuk-grid-column-two-thirds cypress-section">
    <h2 class="govuk-heading-l">Cypress tests</h2>
    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-1">{{components.cypress.env[0].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-2">{{components.cypress.env[1].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-3">{{components.cypress.env[2].heading}}</h3>
    </div>
  </div>

</div>

{% endblock %}
