:root {
  // 🔴 (H) Fail: High Priority
  --level-a: hsl( 0, 100%, 44% );

  // 🟠 (M) Fail: Medium Priority
  --level-aa: hsl( 26, 100%, 47% );

  // 🟣 (L) Fail: Low Priority
  --level-aaa: hsl( 280, 100%, 50% );

  // 🟢 (B) Best: Best Practice
  --level-best: hsl( 208, 73%, 42% );
}


.wcag-tags {
  align-content: center;
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.wcag-tag {
  align-content: center;
  border-bottom: 3px solid;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 0.75em;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

[data-wcag-tag="A"] {
  border-color: var( --level-a );
}

[data-wcag-tag="AA"] {
  border-color: var( --level-aa );
}

[data-wcag-tag="AAA"] {
  border-color: var( --level-aaa );
}

[data-wcag-tag="best-practice"] {
  border-color: var( --level-best );
}
