{% extends "layout_example.html" %}

{% set component = components.hmrc.component[26] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
  {{ appPageTitle({
    componentHeading: componentHeading,
    sectionHeading: sectionHeading
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="fixture-example govuk-grid-column-two-thirds">
    {{ govukInput({
      label: {
        text: "What is the name of the event?"
      },
      id: "event-name",
      name: "event-name"
    }) }}
  </div>
</div>
{% endblock %}
