{% extends "layout.html" %}

{% block pageTitle %}
{{ components.govuk.component[5].name }} -
{{ components.govuk.heading }} -
{{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <header class="hmrc-page-heading">
      <h1 class="govuk-heading-xl">
        {{ components.govuk.component[5].name }}
      </h1>
      <p class="govuk-caption-xl hmrc-caption-xl"><span class="govuk-visually-hidden">This section is </span>{{
        components.govuk.heading }}</p>
    </header>
  </div>
</div>

<div class="govuk-grid-row main-section">
  {% include "includes/skip-links.html" %}

  <div class="govuk-grid-column-one-third">
    <nav aria-label="In-page">
      <h2 class="govuk-heading-m">In-page navigation</h2>
      <h3 class="govuk-heading-s" id="in-page-navigation__components">Components</h3>
      <ol class="govuk-list" role="list" aria-describedby="in-page-navigation__components">
        <li><a class="govuk-link" href="#component-1">{{ components.govuk.component[5].example[0].heading }}</a></li>
        <li><a class="govuk-link" href="#component-2">{{ components.govuk.component[5].example[1].heading }}</a></li>
        <li><a class="govuk-link" href="#component-3">{{ components.govuk.component[5].example[2].heading }}</a></li>
        <li><a class="govuk-link" href="#component-4">{{ components.govuk.component[5].example[3].heading }}</a></li>
        <li><a class="govuk-link" href="#component-5">{{ components.govuk.component[5].example[4].heading }}</a></li>
        <li><a class="govuk-link" href="#component-6">{{ components.govuk.component[5].example[5].heading }}</a></li>
        <li><a class="govuk-link" href="#component-7">{{ components.govuk.component[5].example[6].heading }}</a></li>
        <li><a class="govuk-link" href="#component-8">{{ components.govuk.component[5].example[7].heading }}</a></li>
        <li><a class="govuk-link" href="#component-9">{{ components.govuk.component[5].example[8].heading }}</a></li>
      </ol>
      <h3 class="govuk-heading-s" id="in-page-navigation__cypress">Cypress tests</h3>
      <ol class="govuk-list" role="list" aria-describedby="in-page-navigation__cypress">
        <li><a class="govuk-link" href="#cypress-1">{{components.cypress.env[0].heading}}</a></li>
        <li><a class="govuk-link" href="#cypress-2">{{components.cypress.env[1].heading}}</a></li>
        <li><a class="govuk-link" href="#cypress-3">{{components.cypress.env[2].heading}}</a></li>
      </ol>
    </nav>
    {% include "includes/nav-govuk.html" %}
  </div>

  <div id="component-section" class="govuk-grid-column-two-thirds">
    <p class="govuk-body">{{ components.govuk.component[5].body }}</p>

    <div class="component-section" id="component-1">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[5].example[0].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[5].example[0].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[5].example[0].heading }}">
        {{ govukCheckboxes({
          idPrefix: "waste",
          name: "waste",
          fieldset: {
            legend: {
              text: "Which types of waste do you transport?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "carcasses",
              text: "Waste from animal carcasses"
            },
            {
              value: "mines",
              text: "Waste from mines or quarries"
            },
            {
              value: "farm",
              text: "Farm or agricultural waste"
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-2">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[5].example[1].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[5].example[1].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[5].example[1].heading }}">
        {{ govukCheckboxes({
          idPrefix: "waste",
          name: "waste",
          fieldset: {
            legend: {
              text: "Which types of waste do you transport?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "carcasses",
              text: "Waste from animal carcasses"
            },
            {
              value: "mines",
              text: "Waste from mines or quarries"
            },
            {
              value: "farm",
              text: "Farm or agricultural waste"
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-3">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[5].example[2].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[5].example[2].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[5].example[2].heading }}">
        {{ govukCheckboxes({
          idPrefix: "waste",
          name: "waste",
          fieldset: {
            legend: {
              text: "Which types of waste do you transport?"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "carcasses",
              text: "Waste from animal carcasses"
            },
            {
              value: "mines",
              text: "Waste from mines or quarries"
            },
            {
              value: "farm",
              text: "Farm or agricultural waste"
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-4">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[5].example[3].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[5].example[3].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[5].example[3].heading }}">
        {{ govukCheckboxes({
          idPrefix: "nationality",
          name: "nationality",
          fieldset: {
            legend: {
              text: "What is your nationality?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you have dual nationality, select all options that are relevant to you."
          },
          items: [
            {
              value: "british",
              text: "British",
              hint: {
                text: "including English, Scottish, Welsh and Northern Irish"
              }
            },
            {
              value: "irish",
              text: "Irish"
            },
            {
              value: "other",
              text: "Citizen of another country"
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-5">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[5].example[4].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[5].example[4].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[5].example[4].heading }}">
        {{ govukCheckboxes({
          idPrefix: "countries",
          name: "countries",
          fieldset: {
            legend: {
              text: "Will you be travelling to any of these countries?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all countries that apply"
          },
          items: [
            {
              value: "france",
              text: "France"
            },
            {
              value: "portugal",
              text: "Portugal"
            },
            {
              value: "spain",
              text: "Spain"
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "No, I will not be travelling to any of these countries",
              behaviour: "exclusive"
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-6">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[5].example[5].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[5].example[5].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[5].example[5].heading }}">
        {{ govukCheckboxes({
          idPrefix: "countries",
          name: "countries",
          fieldset: {
            legend: {
              text: "Will you be travelling to any of these countries?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: "Select countries you will be travelling to, or select “No, I will not be travelling to any of these countries”"
          },
          items: [
            {
              value: "france",
              text: "France",
              checked: true
            },
            {
              value: "portugal",
              text: "Portugal"
            },
            {
              value: "spain",
              text: "Spain"
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "No, I will not be travelling to any of these countries",
              checked: true,
              behaviour: "exclusive"
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-7">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[5].example[6].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[5].example[6].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[5].example[6].heading }}">
        {% set emailHtml %}
        {{ govukInput({
          id: "contact-by-email",
          name: "contact-by-email",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Email address"
          }
        }) }}
        {% endset -%}

        {% set phoneHtml %}
        {{ govukInput({
          id: "contact-by-phone",
          name: "contact-by-phone",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Phone number"
          }
        }) }}
        {% endset -%}

        {% set textHtml %}
        {{ govukInput({
          id: "contact-by-text",
          name: "contact-by-text",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Mobile phone number"
          }
        }) }}
        {% endset -%}

        {{ govukCheckboxes({
          idPrefix: "contact",
          name: "contact",
          fieldset: {
            legend: {
              text: "How would you like to be contacted?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all options that are relevant to you."
          },
          items: [
            {
              value: "email",
              text: "Email",
              conditional: {
                html: emailHtml
              }
            },
            {
              value: "phone",
              text: "Phone",
              conditional: {
                html: phoneHtml
              }
            },
            {
              value: "text message",
              text: "Text message",
              conditional: {
                html: textHtml
              }
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-8">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[5].example[7].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[5].example[7].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[5].example[7].heading }}">
        {{ govukCheckboxes({
          idPrefix: "organisation",
          name: "organisation",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "Organisation",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "hmrc",
              text: "HM Revenue and Customs (HMRC)"
            },
            {
              value: "employment-tribunal",
              text: "Employment Tribunal"
            },
            {
              value: "MOD",
              text: "Ministry of Defence"
            },
            {
              value: "DfT",
              text: "Department for Transport"
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-9">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[5].example[8].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[5].example[8].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[5].example[8].heading }}">
        {{ govukCheckboxes({
          idPrefix: "nationality",
          name: "nationality",
          fieldset: {
            legend: {
              text: "What is your nationality?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you have dual nationality, select all options that are relevant to you."
          },
          errorMessage: {
            text: "Select if you are British, Irish or a citizen of a different country"
          },
          items: [
            {
              value: "british",
              text: "British",
              hint: {
                text: "including English, Scottish, Welsh and Northern Irish"
              }
            },
            {
              value: "irish",
              text: "Irish"
            },
            {
              value: "other",
              text: "Citizen of another country"
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

  </div>

  <div id="cypress-section" class="govuk-grid-column-two-thirds cypress-section">
    <h2 class="govuk-heading-l">Cypress tests</h2>
    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-1">{{components.cypress.env[0].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-2">{{components.cypress.env[1].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-3">{{components.cypress.env[2].heading}}</h3>
    </div>
  </div>

</div>

{% endblock %}
