{% extends "layout_example.html" %}
{% from "hmrc/components/page-heading/macro.njk" import hmrcPageHeading %}

{% set component = components.hmrc.component[16] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
{{ appPageTitle({
  componentHeading: componentHeading,
  sectionHeading: sectionHeading
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="fixture-example govuk-grid-column-two-thirds">
    {{ hmrcPageHeading({
      text: 'Sorry, the service is unavailable'
    }) }}

    <p class="govuk-body">You cannot use the online service to renew your tax credits.</p>

    <p class="govuk-body">
      <a class="govuk-link" href="#">Contact the Tax Credits Helpline</a> if you need to make changes to your claim or speak to someone about your tax credits.
    </p>

    <p class="govuk-body">
      You can <a class="govuk-link" href="#">use the tax credits service</a> to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>find out more about your payments</li>
      <li>see who is on your claim</li>
      <li>make changes to your claim</li>
      <li>check the status of your renewal</li>
    </ul>
  </div>
</div>
{% endblock %}
