{% extends "layout_example.html" %}
{% from "hmrc/components/page-heading/macro.njk" import hmrcPageHeading %}

{% set component = components.hmrc.component[16] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
{{ appPageTitle({
  componentHeading: componentHeading,
  sectionHeading: sectionHeading
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="fixture-example govuk-grid-column-two-thirds">
    {{ hmrcPageHeading({
      text: 'Sorry, the service is unavailable'
    }) }}

    <p class="govuk-body">The submit an employment intermediary report service has closed.</p>

    <p class="govuk-body">Contact us if you need to speak to someone about the service and your reports.</p>

    <p class="govuk-body">
      Telephone:
      <br/>
      <strong class="govuk-!-font-weight-bold">0808 157 3900</strong>
    </p>

    <p class="govuk-body">
      Opening times:
      <br/>
      <strong class="govuk-!-font-weight-bold">Monday to Friday: 8:30am to 4:30pm</strong>
    </p>
  </div>
</div>
{% endblock %}
