{% extends "layout_example.html" %}
{% from "hmrc/components/internal-header/macro.njk" import hmrcInternalHeader %}

{% set component = components.hmrc.component[9] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
{{ appPageTitle({
  componentHeading: componentHeading,
  sectionHeading: sectionHeading
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ hmrcInternalHeader({
      homepageUrl: 'https://www.gov.uk/government/organisations/hm-revenue-customs',
      serviceName: 'Service name',
      serviceUrl: '#'
    }) }}
  </div>
</div>
{% endblock %}
