<div class="component-section app-example-wrapper"{%- if params.componentIndex %} id="component-{{params.componentIndex}}"{% endif %}>
  <h2 class="govuk-heading-m">
    {{ params.heading }}
  </h2>
  {%- if params.body %}
  <p class="govuk-body">
    {{ params.body }}
  </p>
  {%- endif %}
  <div class="component-section__example app-example" role="region" aria-label="Component example: {{ params.heading }}">
    {# Nunjucks example snippet gets dropped in here: #}
    {{ caller() | safe }}
  </div>
  {%- if component.experimental %}
    {{ govukPhaseBanner({
      tag: {
        text: "experimental"
      },
      text: 'Maybe we can help improve this one with our testing.'
    }) }}
  {% endif %}
  {{ appComponentFooter({ testing: params.testing }) }}

</div>
