{% extends "layout.html" %}

{% block pageTitle %}
{{ components.govuk.component[22].name }} -
{{ components.govuk.heading }} -
{{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <header class="hmrc-page-heading">
      <h1 class="govuk-heading-xl">
        {{ components.govuk.component[22].name }}
      </h1>
      <p class="govuk-caption-xl hmrc-caption-xl"><span class="govuk-visually-hidden">This section is </span>{{
        components.govuk.heading }}</p>
    </header>
  </div>
</div>

<div class="govuk-grid-row main-section">
  {% include "includes/skip-links.html" %}

  <div class="govuk-grid-column-one-third">
    <nav aria-label="In-page">
      <h2 class="govuk-heading-m">In-page navigation</h2>
      <h3 class="govuk-heading-s" id="in-page-navigation__components">Components</h3>
      <ol class="govuk-list" role="list" aria-describedby="in-page-navigation__components">
        <li><a class="govuk-link" href="#component-1">{{ components.govuk.component[22].example[0].heading }}</a></li>
        <li><a class="govuk-link" href="#component-2">{{ components.govuk.component[22].example[1].heading }}</a></li>
        <li><a class="govuk-link" href="#component-3">{{ components.govuk.component[22].example[2].heading }}</a></li>
      </ol>
      <h3 class="govuk-heading-s" id="in-page-navigation__cypress">Cypress tests</h3>
      <ol class="govuk-list" role="list" aria-describedby="in-page-navigation__cypress">
        <li><a class="govuk-link" href="#cypress-1">{{components.cypress.env[0].heading}}</a></li>
        <li><a class="govuk-link" href="#cypress-2">{{components.cypress.env[1].heading}}</a></li>
        <li><a class="govuk-link" href="#cypress-3">{{components.cypress.env[2].heading}}</a></li>
      </ol>
    </nav>
    {% include "includes/nav-govuk.html" %}
  </div>

  <div id="component-section" class="govuk-grid-column-two-thirds">
    <p class="govuk-body">{{ components.govuk.component[22].body }}</p>

    <div class="component-section" id="component-1">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[22].example[0].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[22].example[0].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[22].example[0].heading }}">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: "Bobbi Flekman"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "11 January 1971"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Contact information"
              },
              value: {
                html: "27 Wrights Lane<br>London<br>W8 5SW"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "contact information"
                  }
                ]
              }
            },
            {
              key: {
                text: "Contact details"
              },
              value: {
                html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">bobbi.flekman@polymer.com</p>'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-2">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[22].example[1].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[22].example[1].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[22].example[1].heading }}">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: "Bobbi Flekman"
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "11 January 1971"
              }
            },
            {
              key: {
                text: "Contact information"
              },
              value: {
                html: "27 Wrights Lane<br>London<br>W8 5SW"
              }
            },
            {
              key: {
                text: "Contact details"
              },
              value: {
                html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">bobbi.flekman@polymer.com</p>'
              }
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

    <div class="component-section" id="component-3">
      <h2 class="govuk-heading-m">
        {{ components.govuk.component[22].example[2].heading }}
      </h2>
      <p class="govuk-body">
        {{ components.govuk.component[22].example[2].body }}
      </p>

      <div class="component-section__example" role="region" aria-label="Component example: {{ components.govuk.component[22].example[2].heading }}">
        {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: "Bobbi Flekman"
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "11 January 1971"
              }
            },
            {
              key: {
                text: "Contact information"
              },
              value: {
                html: "27 Wrights Lane<br>London<br>W8 5SW"
              }
            },
            {
              key: {
                text: "Contact details"
              },
              value: {
                html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">bobbi.flekman@polymer.com</p>'
              }
            }
          ]
        }) }}
      </div>

      <footer class="component-section__footer">
        {{ govukDetails({
        summaryText: "What we are testing in this component",
        html: "<ul class='govuk-list govuk-list--bullet'>
          <li>Make sure the Change and Remove links have unique, hidden context for screen reader users.</li>
          <li>The hint text must be associated correctly with the checkboxes.</li>
          <li>The focus colours must be the updated version.</li>
        </ul>"
        }) }}
      </footer>
    </div>

  </div>

  <div id="cypress-section" class="govuk-grid-column-two-thirds cypress-section">
    <h2 class="govuk-heading-l">Cypress tests</h2>
    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-1">{{components.cypress.env[0].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-2">{{components.cypress.env[1].heading}}</h3>
    </div>

    <div class="cypress-section__output">
      <h3 class="govuk-heading-m" id="cypress-3">{{components.cypress.env[2].heading}}</h3>
    </div>
  </div>

</div>

{% endblock %}
