{% extends "layout_example.html" %}

{% set component = components.hmrc.component[19] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
  {{ appPageTitle({
    componentHeading: componentHeading,
    sectionHeading: sectionHeading
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukRadios({
      classes: "govuk-radios--small",
      idPrefix: "changed-name",
      name: "changed-name",
      fieldset: {
        legend: {
          text: "Filter",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "month",
          text: "Monthly"
        },
        {
          value: "year",
          text: "Yearly"
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}
