{% extends "layout_example.html" %}

{% set component = components.hmrc.component[23] %}
{% set componentHeading = component.name %}
{% set sectionHeading = components.hmrc.heading %}

{% block pageTitle %}
  {{ appPageTitle({
    componentHeading: componentHeading,
    sectionHeading: sectionHeading
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukTable({
      caption: "Months and rates",
      captionClasses: "govuk-table__caption--l",
      firstCellIsHeader: true,
      head: [
        {
          text: "Month you apply"
        },
        {
          text: "Rate for vehicles"
        }
      ],
      rows: [
        [
          {
            text: "January"
          },
          {
            text: "£95"
          }
        ],
        [
          {
            text: "February"
          },
          {
            text: "£55"
          }
        ],
        [
          {
            text: "March"
          },
          {
            text: "£125"
          }
        ]
      ]
    }) }}
  </div>
</div>
{% endblock %}
