{% extends "layout.html" %}
{% from "hmrc/components/page-heading/macro.njk" import hmrcPageHeading %}
{% set page = page.index %}
{% set componentHeading = page.name %}
{% set section = 'Prototype Kit ' + releaseVersion %}

{% block pageTitle %}
{{ appPageTitle({
  componentHeading: componentHeading
}) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="fixture-example govuk-grid-column-two-thirds">

    {{ hmrcPageHeading({
      text: componentHeading,
      section: section
    }) }}
    <p class="govuk-body">{{ page.body }}</p>

    {% for section in page.sections|sort(attribute="_id") %}
    <h2 class="govuk-heading-m">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ section.slug }}">
        {{ section.name }}
      </a>
    </h2>
    <p class="govuk-body">{{ section.body }}</p>
    {% else %}
    <p class="govuk-heading-m">Data error</p>
    {% endfor %}

  </div>
</div>

{% endblock %}
