{% extends "layout.html" %}

{% set componentHeading = components.tests.heading %}

{% block pageTitle %}
{{ appPageTitle({
  componentHeading: componentHeading
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ components.tests.heading }}</h1>
    <p class="govuk-body">{{ components.tests.body }}</p>

    <dl class="govuk-list">
      {% for item in components.tests.component %}
      <dt class="govuk-heading-m">
        <a class="govuk-link" href="/tests/{{ item.dept }}/{{ item.slug }}">
          {{ item.name }}
        </a>
      </dt>
      <dd class="govuk-body">{{ item.body }}</dd>
      {% else %}
      <dt class="govuk-heading-m">Data error</dt>
      {% endfor %}
    </dl>

  </div>
</div>

{% endblock %}
